@model Pizzeria.Models.Ordini

@{
    ViewBag.Title = "ConcludiOrdine";
}
@if (TempData["messaggio"] != null)
{
    <p class="text-center mt-3 alert alert-success">@TempData["messaggio"]</p>
}


<h2 class="text-center">Riepilogo del tuo ordine:</h2>
@{
    Html.RenderAction("PartialDettagliOrdine");
}

@using (Html.BeginForm("ConcludiOrdine", "Ordini", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if (TempData["Totale"] != null)
    {
        <p class="text-center mt-3 alert alert-info">Il totale da pagare in contrassegno è di: @TempData["Totale"] €</p>
    }
    <hr />
    <h3 class="text-center my-3">Puoi specificare dei dettagli per il tuo ordine nel campo Note</h3>
    <div class="row">
        <div class="text-center">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="row d-flex justify-content-center ">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "col-6" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Concludi Ordine" name="ConcludiOrdine" class="btn btn-primary my-3" />
            <div>
                @Html.ActionLink("Torna alla Home", "Index", "Pizze", new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    </div>
}


