<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark fw-bolder ">
        <div class="container-fluid">
            <div class="container-fluid">
                @Html.ActionLink("Pizzeria Mille Miglia", "Index", "Pizze", new { area = "" }, new { @class = "navbar-brand text-warning fst-italic fw-bolder" })
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-link">
                        @Html.ActionLink("Carrello", "ConcludiOrdine", "Ordini", new { }, new { @class = "text-warning text-decoration-none" })
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Login", "SignIn", "Login", new { }, new { @class = "text-info text-decoration-none" })
                    </li>
                    <li class="nav-link">
                        @Html.ActionLink("Area Riservata", "Create", "Pizze", new { }, new { @class = "container-fluid navbar-brand text-danger text-decoration-none" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="d-flex justify-content-center">
            <p>&copy; @DateTime.Now.Year - Pizzeria Mille Miglia</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
