@model IEnumerable<Pizzeria.Models.Pizze>

<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredienti)
        </td>
        <td>
            <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" style="width: 2rem;"  />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPizza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPizza })
        </td>
    </tr>
}

</table>
