@model Pizzeria.Models.Pizze

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-danger text-center">
    <h2>Sei sicuro di voler elimare questo prodotto?</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Content/img/@Html.DisplayFor(model => model.Foto)" style="width: 6rem;" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" /> |
            @Html.ActionLink("Torna indietro", "Create", "Pizze", new { @class = "btn btn-success" })
        </div>
    }
</div>
