@model Pizzeria.Models.Pizze

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Details", "Pizze"))
{
    <div class="row mt-5 ">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="~/Content/img/@Model.Foto" style="width: 18rem;" class="card-img-top">
        </div>
        <div class="col-8">
            @Html.HiddenFor(model => model.IdPizza)
            <h2>@Html.DisplayFor(model => model.Nome)</h2>
            <b>Prezzo:</b>
            <p>@Html.DisplayFor(model => model.Prezzo)</p>
            <b>Prezzo:</b>
            <p>@Html.DisplayFor(model => model.Ingredienti)</p>
            <hr />
            <h2>Dettagli Ordine:</h2>
            <div class="d-flex flex-row align-items-start">
                <p class="me-2">Indica la quantità:</p>
                <input type="text" name="Quantita" style="width: 2rem;" />
            </div>
            <div class="d-flex">
                <input type="submit" value="Aggiungi al Carrello" class="btn btn-primary me-5" /> <br />
                @Html.ActionLink("Torna alla Home", "Index", "Pizze", new { @class = "btn btn-outline-primary me-5" })
                @Html.ActionLink("Concludi Ordine", "ConcludiOrdine", "Ordini", new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}
